@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&display=swap');
body{
    margin:0;
    padding:0;
    background-color: black;
    scroll-behavior: smooth;

}
nav{
    text-align:left;
    margin-top:20px;
    background-color: white;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:0px;
    box-shadow:2px 2px 5px 1px black;
    vertical-align: center;

}
nav a{
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top:0px;
    text-decoration: none;
    vertical-align: center;
    transition: padding 0.10s,
      margin 0.10s,background-color 0.10s,color 0.10s;
  }
nav a:hover{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 253, 253);
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
    margin-right: 0px;
  }
nav a:active{
    background-color: rgb(152, 152, 152);
}
nav a.span{
    text-align:right;
}
nav span{
    float:right;
    margin-right:15px;
    margin-right:15px;
}
nav span:hover{
   color:rgb(165, 167, 167);
   cursor:pointer;
}
#intro img{
    width:100%;
    height:500px;
    margin-top:8px;
    object-fit:cover;
    opacity:0.36;
    z-index:-100;
}
#intro p{
    color:white;
    font-size:80px;
    text-align:center;
    font-family: 'Genos', sans-serif;
    margin-top:-300px;
    font-weight:bold;
    z-index:100;
}
#intro p span{
    color:tomato
}
#intro .hashtag{
    color:rgb(201, 196, 196);
    font-size:35px;
    text-align:center;
    font-family: 'Genos', sans-serif;
    margin-top:-80px;
    font-weight:bold;
    z-index:100;
}
#about{
   display:inline-flex;
   vertical-align:center;
}
#about img{
    width:300px;
    border-radius:100%;
    margin-top:200px;
    margin-left:30px;
}
#about p{
    color:white;
    font-size:20px;
    margin-top:250px;
    margin-left:25px;
    font-family:sans-serif;
}
.cv{
    margin-left:350px;
    background-color:white;
    padding:10px 20px 10px 20px;
    font-size:14px;
    font-family:sans-serif;
    border-radius: 20px;
    transition: background-color 0.9s,color 0.15s;   
    margin-top:-200px; 
}
.cv:hover{
    background-color:black;
    color:white;
    cursor:pointer;
    border-color: white;
    border-width: 2px;
}
#projects{
    padding-left:10px;

}
#projects h2{
    color:white;
    font-family:'Genos', sans-serif;
    text-align:center;
    font-size:40px;
    background-color: white;
    color:black;

}
#projects img{
    width:500px;
    margin-left:0px;
    transition:background-color 0.9s;
    margin-right:20px;
}
#projects img:hover{
    cursor:pointer;
    background-color:rgb(163, 163, 163);
}
#projects .project{
    color:white;
    display:flex;
    font-family: sans-serif;
}
#projects span{
    color:tomato;
    font-weight:bold;
    font-size:35px;
    margin-top:150px;
    padding-top:30px;
    font-family: 'Genos', sans-serif ;
}
#projects button{
    background-color:white;
    padding:10px 10px 10px 10px;
    font-size:14px;
    font-family:sans-serif;
    border-radius: 20px;
    transition: background-color 0.9s,color 0.15s;   
    margin-top:50px; 
}
#projects button:hover{
    background-color:black;
    color:white;
    cursor:pointer;
    border-color: white;
    border-width: 2px;
}
#project p{
    padding-left:20px;
}
#contact h2{
    color:white;
    font-family:'Genos', sans-serif;
    text-align:center;
    font-size:40px;
    background-color: white;
    color:black;
}
#contact form{
    color:rgb(0, 0, 0);
    display:block;
    font-family:sans-serif;
    margin-left:400px;    
    line-height: 40px;
}
#contact{
    background-color:white;
}
#contact form input{
    margin-left:55px;
    vertical-align: center;
    width:300px;
    height:20px;
    border-radius:10px;
    border-color: black;
    border-style: solid;
    font-family:Arial;
}
#contact form textarea{
    margin-left:20px;
    vertical-align: center;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    font-family: Arial;
    font-size:15px;
}
#contact form button{
    background-color:white;
    padding:8px 28px 8px 28px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    cursor:pointer;
    transition: background-color 0.5s,color 0.5s;
}
#contact form button:hover{
    background-color:black;
    color:white;
}
#contact form input:hover , textarea:hover{
    border-color: tomato;
}
#contact form input:active , textarea:active{
    border-color: rgb(12, 15, 192);
}
.footer{
    color:rgb(0, 0, 0);
    padding:8px 8px 8px 8px;
    text-align:center;
    margin-top:0px;
    font-family: 'Genos', sans-serif ;
    font-size:25px;
    background-color: black;
    color:rgb(194, 189, 189);
    font-weight: bold;
}
.footer p span{
    color:tomato;
}
.top i{
    border-radius: 100%;
    color:rgb(11, 11, 11);
    position: fixed;
    top: 90%;
    margin-left:95%;
    float: right;
    font-size:30px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    transition: color 0.3s;
}
.top i:hover{
    color:tomato;
}
@media only screen and (max-width: 980px) {
   #contact form{ 
    margin-left:100px;
}
}

@media only screen and (max-width: 958px) {
    #projects img{
        width:400px;
    }
}

@media only screen and (max-width: 903x) {
    #projects img{
        width:30%;
        height:30%;
    }
    
}
@media (max-width:843px){
    #about img{
        width:30%;
        height:30%;
    }
    #about p{
        font-size:18px;
    }
}
@media (max-width:819px){
    #projects img{
        width:30%;
        height:30%
    }
    #projects span{
        font-size:25px;
    }
    .projects p{
        font-size:20px;

    }
    nav a{
        font-size:12px;
    }
}
@media (max-width:709px){
    #intro p{
        font-size:65px;
    }
    #intro .hashtag{
        font-size:30px;
    }
}
@media (max-width:630px){
    #projects img{
        width:30%;
    }
    nav a{
        font-size:10px;
    }
}
@media (max-width:699px){
    #about{
        margin-top:0px;
    }
    #about p{
        font-size:16px;
    }
}
@media (max-width:632px){
    #about{
        margin-top:-150px;
    }
    #about p{
        font-size:15px;
    }
    #intro p{
        font-size:50px;
        margin-top: -300px;
    }
    #intro .hashtag{
        font-size:30px;
        margin-top:60px;
        padding-bottom: 100px;
    }
    nav a{
        font-size:8px;
    }

}
@media (max-width:569px){
    #contact form{
        margin-left:30px;
    }
    #about img{
        width:30%;
    }
    #about{
        margin-top:-200px;
    }
    .cv{
        margin-left:200px;
    }
    #intro p{
        font-size:50px;
    }
    #intro .hashtag{
        font-size:30px;
        margin-top:20px;
    }
    #contact form input{
        margin-left:10px;
        vertical-align: center;
        width:50%;
        height:50%;}
    #contact form textarea{
        width:50%;
        height:50%;
    }
}
@media (max-width:387px){
    .cv{
        margin-left:150px;
    }
    #about{
        margin-top:-300px;
    }
}
@media (max-width:319px){
    .cv{
        font-size:12px;
        margin-left:130px;    }
}
@media (max-width:280px){
    .cv{
        font-size:10px;
    }
}