@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&display=swap');
body{
    background-color: black;
}
#title h4{
    background-color: white;
    padding:8px 8px 8px 8px;
    margin-top:-10px;
    font-family:'Genos', sans-serif;
    text-align:center;
    font-size: 30px;
}
#title h4 i{
    font-size:25px;
}
#title span i{
    float:left;
   font-size:30px;
   margin-top:10px;
   margin-left:10px;
   transition: color 0.3s;
}
#title span i:hover{
    color:tomato;
}
.prof {
    display:flex;
    color:white;
    font-family:sans-serif;
}
.prof img{
    width:30%;
    height:30%;
    border-radius: 100%;
    margin-left:20px;
}
.prof p{
    width:800px;
    margin-left:60px;
    font-size:20px;
}
.prof i{
    color:rgb(10, 102, 194);
    font-size:35px;
}
.prof span{
    vertical-align: center;
    font-size:18px;
    
}
.prof span:hover{
    cursor:pointer;
    color:rgb(10, 102, 194);
    transition: color 0.5s;
}
.edu h3{
    color:white;
    font-family:'Genos', sans-serif;
    font-size:35px;
    font-weight:bold;
}
.edu hr{
    margin-top:-30px;

}
.edu i{
    font-size:30px;
}
.xp{
    color:white;
    font-family:'Genos', sans-serif;
    font-size:35px;
    font-weight:bold;
}
.xp hr{
    margin-top:0px;
}
.xp i{

    font-size:30px;
}
.certifi{
    color:white;
    font-family:'Genos', sans-serif;
    font-size:35px;
    font-weight:bold;
}
.certifi hr{
    margin-top:0px;
}
.certifi i{

    font-size:30px;
}
.lan{
    color:white;
    font-family:'Genos', sans-serif;
    font-size:35px;
    font-weight:bold;
}
.lan hr{
    margin-top:0px;
}
.lan i{

    font-size:30px;
}
.edu_info{
    display:flex;
    color:white;
    font-size:20px;
    font-family: sans-serif;
    vertical-align: center;
}
.edu_info p{
    margin-left:30%;
}
.edu_info img{
    width:200px;
    margin-left:50px;
}
.xps{
    color:white;
    font-family: sans-serif;
    padding-left:10px;
}
.xps span:hover{
    cursor:pointer;
    color:tomato;
    text-decoration: underline;
}
.xps hr{
    width:50%;
    float:left;
}
.xps h4{
    color:tomato;
}
.lans{
    color:white;
    font-family: sans-serif;
    padding-left:10px;
}
.lans hr{
    width:50%;
    float:left;
}
.lans h4{
    color:tomato;
}
.certificates img{
    width:20%;
    padding-left:20px;
}
.certificates img:hover{
    cursor:zoom-in;
}
.linkdin{
    background-color: white;
    padding:8px 8px 8px 8px;
    text-align: center;
    font-size:25px;
    font-family:sans-serif;
}
.linkdin button{
    background-color:rgb(0, 0, 0);
    color:white;
    padding:10px 20px 10px 20px;
    font-size:14px;
    font-family:sans-serif;
    border-radius: 20px;
    transition: background-color 0.9s,color 0.15s;   
    margin-top:-200px; 
}
.linkdin button:hover{
    background-color:rgb(10, 102, 194);;
    cursor:pointer;
    border-color: rgb(10, 102, 194);;
    border-width: 2px;
}
.top i{
    border-radius: 100%;
    color:rgb(11, 11, 11);
    position: fixed;
    top: 90%;
    margin-left:95%;
    float: right;
    font-size:30px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    transition: color 0.3s;
}
.top i:hover{
    color:tomato;
}

@media (max-width:649px){
    .edu_info p{
        font-size:15px;
        margin-left:20%;
    }
    .edu_info img{
        width:100px;
        margin-left:50px;
    }
    .certifi{
        font-size:25px;}
}
@media (max-width:391px){
    .edu_info img{
        width:80px;
        height:80px;
        margin-left:30px;
    }
    .edu_info p{
        font-size:12px;
        margin-left:10%;
    }
}